<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
<meta charset="ISO-8859-1">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" >
	<link th:href=@{/styles/dashboard.css} rel="stylesheet" type="text/css">
</head>
<body>
	<div id="main-div">
		<div class="sidebar">
			<nav>
				<ul>
				 	<li id="user-id"><b>[[${#request.userPrincipal.principal.fullName}]]</b><br> <span sec:authentication="principal.authorities">Roles</span></li>
				 	<li><a th:href=@{/admin_dashboard}>Home - Issues</a></li>
				 	<li><a th:href=@{/add_equipment}>Add Equipment</a></li>
				 	<li><a th:href=@{/view_equipment}>View Equipment</a></li>
				 	<li><a th:href=@{/user_list}>Users</a></li>
				 	<li><a th:href=@{/admin_about}>About</a></li>
				</ul>
			</nav>
			<div id="logout-button">
				<form th:action="@{/logout}" method="post" class="logout-btn">
					<input type="submit" value="Logout"  >
				</form>
			</div>
		</div>	
		<div class="main-content">
			<div id="add-equipment">
				<h1>Add Equipment</h1>
			</div>
			<div>
				<form th:action = @{/process_add_equipment} method="post" th:object=${equipmentModel}>
				
					<div class="mb-4">
				    	<label for="name-equipment" class="form-label">Equipment
				    		<input type="text" class="form-control" id="name-equipment" th:field=*{name} minlength="4" maxlength="64" >
				    	</label>
					</div>	
					<div class="mb-4">
				    	<label for="desc-equipment" class="form-label">Description
				    		<input type="text" class="form-control" id="desc-equipment" th:field=*{description} minlength="10" maxlength="150">
				    	</label>
					</div>
					<div class="mb-4">
				    	<label for="loc-equipment" class="form-label">Location
				    		<input type="text" class="form-control" id="loc-equipment" th:field=*{location} min="4" maxlength="64">
				    	</label>
					</div>
				  <button type="submit" value="submit" class="btn btn-primary">Add</button>
				</form>
			</div>	
				
		</div>
	</div>
</body>
</html>