<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
	<meta charset="ISO-8859-1">
	<title>Edit User</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" >
	<link th:href=@{/styles/dashboard.css} rel="stylesheet" type="text/css">
</head>
<body>
	<div id="main-div">
		<div class="sidebar">
			<nav>
				<ul>
				 	<li id="user-id"><b>[[${#request.userPrincipal.principal.fullName}]]</b><br> <span sec:authentication="principal.authorities">Roles</span></li>
				 	<li><a th:href=@{/admin_dashboard}>Home - Issues</a></li>
				 	<li><a th:href=@{/add_equipment}>Add Equipment</a></li>
				 	<li><a th:href=@{/view_equipment}>View Equipment</a></li>
				 	<li><a th:href=@{/user_list}>Users</a></li>
				 	<li><a th:href=@{/admin_about}>About</a></li>
				</ul>
			</nav>
			<div id="logout-button">
				<form th:action="@{/logout}" method="post" class="logout-btn">
					<input type="submit" value="Logout"  >
				</form>
			</div>
		</div>	
		<div class="main-content">
			<div id="heading">
				<h3>Issues</h3>
			</div>
			
			<div class="main-wrapper">
			
				
				<form th:action = @{/user/save} method="post" th:object=${editUser}>
			
				
				<input type="hidden" th:field="*{id}">
				
				<div class="form-group row">
					<label for="first-name" class="form-group row">
						<input id="first-name" type="text" th:field=*{firstName} minlength="2" maxlength="20" placeholder="First Name" required>
					</label>
				</div>
				
				<div class="form-group row">
					<label for="last-name" class="form-group row">
						<input id="last-name" type="text" th:field=*{lastName} minlength="2" maxlength="20" placeholder="Last Name" required>
					</label>
				</div>
				
				<div class="form-group row">
					<label for="email" class="form-group row">
						<input id="email" type="email" th:field=*{email}  minlength="2" maxlength="45" placeholder="example@email.com" required>
					</label>
				</div>
				
				<div class="form-group row">
					<label for="password" class="form-group row">
						<input id="password" type="password" th:field=*{password} placeholder="password" minlength="6" maxlength="15" required>
					</label>
				</div>
				
				<div class="form-group row">
					<label for="password" class="form-group row">

							<th:block th:each="role: ${listRoles}">
								<input type="checkbox"
										th:field="*{roles}" 
										th:value="${role.id}"
										th:text ="${role.name}" class="m-2">
							</th:block>
					
					</label>
				</div>
				
				<button type="submit" value="submit" class="btn btn-primary">Update</button>
			</form>
			</div>
				
		</div>
	</div>
</body>
</html>
